# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
pbr>=4.1.0
six>=1.9.0 # MIT

oslo.log>=1.8.0 # Apache-2.0
oslo.config>=2.3.0 # Apache-2.0

stevedore>=1.20.0 # Apache-2.0

aiohttp>=3.6.2
aiohttp-apispec>=2.0.0

werkzeug>=0.16.0
marshmallow>=3.2.1
webargs>=5.5.2

jsonschema>=2.6.0
