# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
pbr>=1.8
six>=1.9.0 # MIT

oslo.log>=1.8.0 # Apache-2.0
oslo.config>=2.3.0 # Apache-2.0

flask-restplus>=0.12.1
Flask>=1.0.2
Werkzeug>=0.14.1
stevedore>=1.20.0 # Apache-2.0

gevent==1.2.1
