# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
flake8>=3.7.9
pyflakes>=2.1.1

hacking

bandit>=1.1.0 # Apache-2.0

# Remove once we rely on coverage 4.3+
#
# https://bitbucket.org/ned/coveragepy/issues/519/
coverage!=4.4,>=4.0 # Apache-2.0

fixtures>=1.3.1
python-subunit>=0.0.18
stestr>=1.0.0 # Apache-2.0
testtools>=1.4.0

mock>=1.2
pytest
pytest-cov

sphinx>=1.6.2 # BSD
sphinx_rtd_theme
recommonmark
reno>=2.5.0 # Apache-2.0
